@model PredescuAlexandru_MVC.Models.AnnouncementsModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cvzGzDAxGEnmvgOO1U1dPJW1fs1" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <h1 class="text-center">Create</h1>

            <h4>AnnouncementsModel</h4>
            <hr />

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <fieldset>
                    <legend>Detalii anunț</legend>
                    <div class="form-group">
                        <label asp-for="ValidFrom" class="control-label">Valabil de la <span class="required">*</span></label>
                        <input asp-for="ValidFrom" class="form-control" required />
                        <span asp-validation-for="ValidFrom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValidTo" class="control-label">Valabil până la <span class="required">*</span></label>
                        <input asp-for="ValidTo" class="form-control" required />
                        <span asp-validation-for="ValidTo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Titlu <span class="required">*</span></label>
                        <input asp-for="Title" class="form-control" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text" class="control-label">Descriere anunț <span class="required">*</span></label>
                        <input asp-for="Text" class="form-control" required />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDate" class="control-label">Data evenimentului</label>
                        <input asp-for="EventDate" class="form-control" />
                        <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label">Tags</label>
                        <input asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                </fieldset>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btn-create" />
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+qIoX3w10kWUkI5V7rt/LNvzoKbcjP5M3bA6E6J5QfUJsa9" crossorigin="anonymous"></script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
